@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    /* background-image: url("book.jpg"); */
    padding: 0 20px;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper{
  max-width: 450px;
  margin: 50px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

body{
    background-image: url(buy_back.jpg);
    
}
.small-container{

    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.col-4{
    flex-basis: 25%;
    padding: 30px;
    min-width: 200px;
    margin-bottom: 50px ;

}
.col-4 img{
    width: 100%;

}
h4{
    padding-top: 30px;

}

.small-container-1{
    
    max-width: 1080px; 
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
}

.col-1{
    
    flex-basis: 10%;
    padding: 30px;
    min-width: 200px;
    /* margin-bottom: 50px ; */
    display: table;
    width: 25%;
    float: left;
  
    
    
    

}
.col-1 img{
    width: 100%;
    
}
#root{
    margin: 50px;
    
     }
#btn{
    width: 80%;
    border-radius: 7px;
    background-color: bisque;
     
}
#amount{
    font-size: 20px;
    box-sizing: content-box;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
#subj{
    font-weight: 440;
    margin: 10px;
    
}
.col1{
    float: left;
  width:  19%;
  padding: 5px;
  
}
  

